body {
  background-color: #333;
}

#header {
  font-family: Passion One, sans-serif;
  font-size: 150%;
  color: #222;
  background-color: #fff;
}

h1 {
  text-align: center;
}

main {
  width: 75%;
  height: 100%;
  background-color: #222;#d8cbb8;
  margin: 0 auto;
}

#characters {
  margin: 0 auto;
  width: 50%;
}

img {
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

button.charbutton {
  padding: 0;
  cursor: pointer;
  background-color: #28172e;
  border: 4px solid purple;
  border-radius: 4px;
  margin: 40px 10px;
  transition-duration: 0.08s;
  fl.oat: left;
}

button.charbutton:hover {
  transform: scale(1.05);
}

button.charbutton:active {
  transform: scale(1.025);
}

p.charbutton {
  background-color: black;
  margin: 0;
  font-family: smashFont, sans-serif;
  font-size: 14px;
  color: #fff;
}

table {
  width: 100%;
  background-color: darkred;
  margin: 20px auto;
  border: 1px solid darkred;
  color: white;
  font-family: smashFont, sans-serif;
  text-align: center;
}

tr {
  background-color: #222;
}

th, td {
  padding: 2px 20px;
}

@font-face {
  font-family: smashFont;
  src: url(font/A-OTF-FolkPro-Bold.otf);
}