html {
  font-size: 20px;
}

body {
  background-color: #333;
}

#header {
  width: 10%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

main {
  width: 75vw;
  height: 100%;
  background-color: #222;
  margin: 0 auto;
}

#characters {
  margin: 0 auto;
  width: 70%;
}

img {
  width: 100%;
  -webkit-user-drag: none;
}

a {
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

button.charbutton {
  width: 14%;
  padding: 0;
  cursor: pointer;
  background-color: #28172e;
  border: 4px solid purple;
  border-radius: 4px;
  margin: 5% 1%;
  transition-duration: 0.08s;
}

button.charbutton:hover {
  transform: scale(1.05);
}

button.charbutton:active {
  transform: scale(1.025);
}

p.charbutton {
  background-color: black;
  margin: 0;
  font-family: smashFont, sans-serif;
  color: #fff;
  font-size: 0.5rem;
}

table {
  width: 100%;
  background-color: darkred;
  margin: 20px auto;
  border: 1px solid darkred;
  color: white;
  font-family: smashFont, sans-serif;
  font-size: 80%;
  text-align: center;
}

tr {
  background-color: #222;
}

th, td {
  padding: 2px 20px;
}

@font-face {
  font-family: smashFont;
  src: url(font/A-OTF-FolkPro-Bold.otf);
}